.section-title,
.features-title,
.command-title,
.works-title {
    color: var(--title-text-color);
}

.section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}